:root {
  --last-name-width: 20%;
  --first-name-width: 35%;
  --email-width: 20%;
  --sex-width: 5%;
  --birthdate-width: 15%;
  --delete-width: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #51c4d3;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  padding: 1%;
}

table {
  width: 80%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  background-color: #96d4d4;
}

.adding-table {
  display: flex;
  justify-content: center;
  padding-bottom: 5rem;
}

.search-bar {
  background: transparent;
  border: transparent;
  width: 100%;
  text-align: center;
}

.search-bar:focus {
  outline: none;
}

.sex.dropdown {
  width: 100%;
}

.birth-picker {
  background: transparent;
  border: transparent;
  width: 100%;
  /* margin-left: 4%; */
  margin-right: 10%;
}

.add-button {
  background-color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  height: 50%;
  width: 4rem;
}

.members-table {
  display: flex;
  justify-content: center;
}

.top-row {
  height: 2rem;
}

.bottom-row {
  text-align: center;
}

.last-name {
  width: var(--last-name-width);
}

.first-name {
  width: var(--first-name-width);
}

.email {
  width: var(--email-width);
}

.sex {
  width: var(--sex-width);
}

.birthdate {
  width: var(--birthdate-width);
}

.delete-cell {
  width: var(--delete-width);
}

.delete-button {
  background-color: transparent;
  height: 1.5rem;
  width: 3rem;
}
