* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  display: flex;
  justify-content: center;
  padding: 1%;
}

table {
  width: 80%;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  background-color: #96d4d4;
}

.table {
  display: flex;
  justify-content: center;
}

.last-name {
  width: 20%;
}

.first-name {
  width: 35%;
}

.email {
  width: 20%;
}

.sex {
  width: 5%;
}

.birthdate {
  width: 20%;
}
