:root {
  --last-name-width: 20%;
  --first-name-width: 35%;
  --email-width: 20%;
  --sex-width: 5%;
  --birthdate-width: 15%;
  --delete-width: 5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #51c4d3;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.title {
  display: flex;
  justify-content: center;
  padding: 1%;
}

table {
  width: 70rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  background-color: #96d4d4;
}

.modal-button {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.open-modal-button {
  width: 13rem;
  height: 3rem;
  font-size: 1.5rem;
  font-family: Garamond;
  background-color: #96d4d4;
  border-radius: 30px;
}

.close-button {
  display: flex;
  justify-content: end;
  background-color: #96d4d4;
}

.label {
  display: flex;
  background-color: #96d4d4;
  width: 20%;
}

.add-first-name {
  display: flex;
  background-color: #96d4d4;
  width: 100%;
  height: 10%;
  align-items: center;
}

.add-last-name {
  display: flex;
  background-color: #96d4d4;
  width: 100%;
  height: 10%;
  align-items: center;
}

.add-email {
  display: flex;
  background-color: #96d4d4;
  height: 10%;
  align-items: center;
}

.add-sex {
  display: flex;
  background-color: #96d4d4;
  height: 10%;
  align-items: center;
}

.search-bar {
  background: white;
  border: black;
  text-align: center;
  border-radius: 30px;
  width: 80%;
  height: 70%;
}

.search-bar:focus {
  outline: none;
}

.sex-dropdown {
  display: flex;
  background-color: #96d4d4;
  border-radius: 30px;
  height: 70%;
}

.add-birthdate {
  display: flex;
  background-color: #96d4d4;
  border-radius: 30px;
  height: 10%;
  align-items: center;
}

.add-birthdate:before {
  border-radius: 30px;
}

.birth-picker {
  display: flex;
  background: transparent;
  height: 70%;
}

.add-button-div {
  display: flex;
  justify-content: center;
  background-color: #96d4d4;
}

.add-button {
  background-color: white;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 4rem;
}

.members-table {
  display: flex;
  justify-content: center;
}

.top-row {
  height: 2rem;
}

.bottom-row {
  text-align: center;
}

.last-name {
  width: var(--last-name-width);
}

.first-name {
  width: var(--first-name-width);
}

.email {
  width: var(--email-width);
}

.sex {
  width: var(--sex-width);
}

.birthdate {
  width: var(--birthdate-width);
}

.delete-cell {
  width: var(--delete-width);
}

.delete-button {
  background-color: transparent;
  height: 1.5rem;
  width: 3rem;
  margin-top: 0.5rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #96d4d4;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 30%; /* Could be more or less, depending on screen size */
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  background-color: #96d4d4;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .add-first-name {
    flex-direction: column;
  }
  .add-last-name {
    flex-direction: column;
  }
  .add-email {
    flex-direction: column;
  }
  .add-sex {
    flex-direction: column;
  }
  .add-birthdate {
    flex-direction: column;
  }
  .label {
    width: auto;
  }
  .modal-content {
    width: 50%;
  }
}
